<% if faves.any? %>
  <ul class="list-unstyled">
    <% faves.each do |myfave| %>
        <div class="media-body">
            <div class="row">
        <% if myfave.work.avatar.attached? %>
<%=link_to image_tag(myfave.work.avatar, { size: 50 }), work_path(myfave.work)%>
       <% end %>
            <div>
            <p>作者名:<%= myfave.work.user.name %></p>
          </div>
            <div>
            <p>タイトル:<%= myfave.work.title %></p>
          </div>
    <div class="ml-3">
    <%= render 'favorites/navfaves',  work: myfave.work ,user: myfave.user  %>
        </div>
        </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
    