<ul class="list-unstyled">
  <% comments.each do |comment| %>
    <li class="media mb-3">
      <div class="media-body">
        <div class="row">
                <div class="container">
          <div class="row">
            <div class="m-2">
        <% if comment.user.avatar.attached? %>
<%= image_tag(comment.user.avatar, { size: 50 }) %>
       <% end %>
       </div>
       <div>
         <p>ユーザ名：<%= comment.user.name %></p>
         </div>
         </div>
        <div>
          <p>回答：<%= comment.comment %><p>
        </div>
        </div>
        <% end %>
      </div>
    </li>
</ul>